[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
legere = {editable = true,path = "."}

[dev-packages]
black = "*"
coverage = "*"
flake8 = "*"
jsonlog = "*"
keyring = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
twine = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
